In [1]:
import re
import requests
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from IPython.display import IFrame
import matplotlib.font_manager as fm

plt.style.use('ggplot')
%matplotlib inline
pd.options.display.max_columns=25

/usr/local/lib/python2.7/dist-packages/matplotlib/__init__.py:872: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

In [9]:
shot_url = 'http://stats.nba.com/stats/leaguedashplayerptshot?LastNGames=0'\
    '&LeagueID=00&Month=0&OpponentTeamID=0&PORound=0&PaceAdjust=N&PerMode=Totals'\
    '&Period=0&PlusMinus=N&Rank=N&Season=2014-15&SeasonType=Regular+Season&TeamID=0'
resp = requests.get(shot_url)
#print resp.text
resp.json().keys()

[u'resource', u'resultSets', u'parameters']

In [10]:
player_info_df = pd.DataFrame(resp.json()['resultSets'][0]['rowSet'],columns=resp.json()['resultSets'][0]['headers'])
player_info_df.head(5)

,PLAYER_ID,PLAYER_NAME,PLAYER_LAST_TEAM_ID,PLAYER_LAST_TEAM_ABBREVIATION,AGE,GP,G,FGA_FREQUENCY,FGM,FGA,FG_PCT,EFG_PCT,FG2A_FREQUENCY,FG2M,FG2A,FG2_PCT,FG3A_FREQUENCY,FG3M,FG3A,FG3_PCT
0,201566,Russell Westbrook,1610612760,OKC,26,67,67,1,624,1458,0.428,0.457,0.804,539,1172,0.460,0.196,85,286,0.297
1,201935,James Harden,1610612745,HOU,25,80,80,1,637,1443,0.441,0.513,0.621,431,896,0.481,0.379,206,547,0.377
2,200746,LaMarcus Aldridge,1610612757,POR,29,71,71,1,653,1406,0.464,0.478,0.925,616,1301,0.473,0.075,37,105,0.352
3,203081,Damian Lillard,1610612757,POR,24,82,82,1,590,1355,0.435,0.508,0.578,394,783,0.503,0.422,196,572,0.343
4,101145,Monta Ellis,1610612742,DAL,29,80,80,1,602,1353,0.445,0.475,0.790,521,1069,0.487,0.210,81,284,0.285

In [ ]:
print player_shot_df.columns
fields = [u'PERIOD',u'MINUTES_REMAINING', u'EVENT_TYPE',
       u'SHOT_TYPE', u'SHOT_ZONE_BASIC', u'SHOT_ZONE_AREA',
       u'SHOT_ZONE_RANGE', u'SHOT_DISTANCE']
for f in fields:
    print f, player_shot_df[f].value_counts()
player_shot_df[player_shot_df['PERIOD'].isin([1,2,3,4])]['PERIOD'].value_counts().plot(kind='pie',figsize=(8,8),autopct='%.2f')

In [ ]:
reb_url = "http://stats.nba.com/stats/playerdashptreboundlogs?"

reb_param = {'PlayerID' : 203083,
                           'LeagueID': u'00',
                           'Season' :  u'2015-16',
                           'SeasonType' : u'Regular Season',
                           'TeamID' : 0,
                           'Outcome' : u'',
                           'Location' : u'',
                           'Month' : 0,
                           'SeasonSegment' : u'',
                           'DateFrom' :  u'',
                           'DateTo' : u'',
                           'OpponentTeamID' : 0,
                           'VsConference' : u'',
                           'VsDivision' : u'',
                           'GameSegment' : u'',
                           'Period' :  0,
                           'LastNGames' : 0
                           }
req = requests.get(reb_url, params=reb_param)
reb_df = pd.DataFrame(req.json()['resultSets'][0]['rowSet'],columns=req.json()['resultSets'][0]['headers'])
reb_df.head(5)

In [16]:
com_url = "http://stats.nba.com/stats/commonallplayers?"
com_param = {'IsOnlyCurrentSeason':"1",
                      'LeagueID': u'00',
                      'Season': u'2015-16'}
com_req = requests.get(com_url, params=com_param)
#req2.text
com_df = pd.DataFrame(com_req.json()['resultSets'][0]['rowSet'],columns=com_req.json()['resultSets'][0]['headers'])
com_df.head(10)

,PERSON_ID,DISPLAY_LAST_COMMA_FIRST,ROSTERSTATUS,FROM_YEAR,TO_YEAR,PLAYERCODE,TEAM_ID,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CODE,GAMES_PLAYED_FLAG
0,203112,"Acy, Quincy",1,2012,2015,quincy_acy,1610612758,Sacramento,Kings,SAC,kings,Y
1,203919,"Adams, Jordan",1,2014,2015,jordan_adams,1610612763,Memphis,Grizzlies,MEM,grizzlies,Y
2,203500,"Adams, Steven",1,2013,2015,steven_adams,1610612760,Oklahoma City,Thunder,OKC,thunder,Y
3,201167,"Afflalo, Arron",1,2007,2015,arron_afflalo,1610612752,New York,Knicks,NYK,knicks,Y
4,201582,"Ajinca, Alexis",1,2008,2015,alexis_ajinca,1610612740,New Orleans,Pelicans,NOP,pelicans,Y
5,202332,"Aldrich, Cole",1,2010,2015,cole_aldrich,1610612746,Los Angeles,Clippers,LAC,clippers,Y
6,200746,"Aldridge, LaMarcus",1,2006,2015,lamarcus_aldridge,1610612759,San Antonio,Spurs,SAS,spurs,Y
7,1626146,"Alexander, Cliff",1,2015,2015,cliff_alexander,1610612757,Portland,Trail Blazers,POR,blazers,N
8,202730,"Allen, Lavoy",1,2011,2015,lavoy_allen,1610612754,Indiana,Pacers,IND,pacers,Y
9,2754,"Allen, Tony",1,2004,2015,tony_allen,1610612763,Memphis,Grizzlies,MEM,grizzlies,Y

In [ ]:
sl_url = "http://stats.nba.com/stats/playerdashptshotlog?"
sl_param = {'PlayerID' : 201939,   #cannot be 0
           'LeagueID': u'00',
           'Season' :  u'2014-15',
           'SeasonType' : u'Regular Season',
           'TeamID' : 0,
           'Outcome' : u'',
           'Location' : u'',
           'Month' : 0,
           'SeasonSegment' : u'',
           'DateFrom' :  u'',
           'DateTo' : u'',
           'OpponentTeamID' : 0,
           'VsConference' : u'',
           'VsDivision' : u'',
           'GameSegment' : u'',
           'Period' :  0,
           'LastNGames' : 0
           }
req3 = requests.get(sl_url, params=sl_param)
#req3.text
sl_df = pd.DataFrame(req3.json()['resultSets'][0]['rowSet'],columns=req3.json()['resultSets'][0]['headers'])
print sl_df.shape
sl_df.head(10)

In [18]:
gl_url = "http://stats.nba.com/stats/playergamelog?"
gl_param = {'PlayerID':201935,
           'SeasonType': u'Regular Season',
           'Season': u'2014-15',
                            }
gl_req = requests.get(gl_url, params=gl_param)
gl_df = pd.DataFrame(gl_req.json()['resultSets'][0]['rowSet'],columns=gl_req.json()['resultSets'][0]['headers'])
gl_df.head(10)

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22014,201935,0021401219,"APR 15, 2015",HOU vs. UTA,W,27,3,8,0.375,2,5,...,1.000,0,11,11,10,1,1,6,2,16,28,1
1,22014,201935,0021401202,"APR 13, 2015",HOU @ CHA,W,37,7,20,0.350,1,8,...,0.875,2,4,6,6,1,2,2,1,29,0,1
2,22014,201935,0021401199,"APR 12, 2015",HOU vs. NOP,W,38,10,18,0.556,1,6,...,1.000,0,1,1,7,1,1,4,2,30,1,1
3,22014,201935,0021401181,"APR 10, 2015",HOU vs. SAS,L,38,5,19,0.263,2,5,...,0.667,0,2,2,10,3,0,4,2,16,-2,1
4,22014,201935,0021401168,"APR 08, 2015",HOU @ SAS,L,35,6,15,0.400,2,6,...,1.000,2,2,4,4,1,0,1,1,22,-26,1
5,22014,201935,0021401147,"APR 05, 2015",HOU @ OKC,W,38,12,22,0.545,6,9,...,0.846,2,4,6,6,3,0,3,6,41,-3,1
6,22014,201935,0021401125,"APR 02, 2015",HOU @ DAL,W,39,6,15,0.400,2,8,...,0.833,0,4,4,6,1,0,5,2,24,12,1
7,22014,201935,0021401117,"APR 01, 2015",HOU vs. SAC,W,38,16,25,0.640,8,9,...,0.846,2,6,8,6,3,0,7,1,51,10,1
8,22014,201935,0021401104,"MAR 30, 2015",HOU @ TOR,L,38,9,22,0.409,3,8,...,0.833,2,3,5,5,1,0,3,3,31,-13,1
9,22014,201935,0021401097,"MAR 29, 2015",HOU @ WAS,W,38,7,20,0.350,1,6,...,0.900,0,3,3,6,2,1,3,3,24,1,1

In [19]:
print gl_df.shape

(81, 27)

In [20]:
gl_season_df = gl_df.groupby('SEASON_ID').sum()
gl_season_df

,Player_ID,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
SEASON_ID,,,,,,,,,,,,,,,,,,,,,,
22014,16356735,2979,647,1470,35.564,208,555,29.29,715,824,69.083,75,384,459,565,154,60,321,208,2217,334,81

Now all PCT data is wrong, let's resolve that.

In [32]:
gl_season_df['Player_ID'] = gl_season_df['Player_ID']/81
gl_season_df['FG_PCT'] = gl_season_df['FGM']/gl_season_df['FGA']
gl_season_df['FG3_PCT'] = gl_season_df['FG3M']/gl_season_df['FG3A']
gl_season_df['FT_PCT'] = gl_season_df['FTM']/gl_season_df['FTA']
gl_season_df = gl_season_df.assign(FG2A_FREQ = 1 - (gl_season_df['FG3A']/gl_season_df['FGA']))
gl_season_df = gl_season_df.assign(FG2M = gl_season_df['FGM']-gl_season_df['FG3M'])
gl_season_df = gl_season_df.assign(FG2M = gl_season_df['FGA']-gl_season_df['FG3A'])
gl_season_df = gl_season_df.assign(FG2_PCT = gl_season_df['FG2M']/gl_season_df['FG2A'])
gl_season_df = gl_season_df.assign(EFG_PCT = (gl_season_df['FGM']+.5*gl_season_df['FG3M'])/gl_season_df['FGA'])
gl_season_df

,Player_ID,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,...,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE,FG2A_FREQ,FG2A,FG2M,FG2_PCT,EFG_PCT
SEASON_ID,,,,,,,,,,,,,,,,,,,,,,,,,
22014,16356735,2979,647,1470,0.440136,208,555,0.374775,715,824,0.867718,75,...,154,60,321,208,2217,334,81,0.622449,915,915,1,0.510884

In [27]:
player_info_df[player_info_df['PLAYER_ID']==201935]

,PLAYER_ID,PLAYER_NAME,PLAYER_LAST_TEAM_ID,PLAYER_LAST_TEAM_ABBREVIATION,AGE,GP,G,FGA_FREQUENCY,FGM,FGA,FG_PCT,EFG_PCT,FG2A_FREQUENCY,FG2M,FG2A,FG2_PCT,FG3A_FREQUENCY,FG3M,FG3A,FG3_PCT
1,201935,James Harden,1610612745,HOU,25,80,80,1,637,1443,0.441,0.513,0.621,431,896,0.481,0.379,206,547,0.377